<ion-view title="Dojo Page" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="dojoPage-list3">
      <ion-item class="positive" id="dojoPage-list-item14" style="">Short Term</ion-item>
      <ion-item class="positive" id="dojoPage-list-item15" style="">Long Term</ion-item>
      <ion-item class="positive" id="dojoPage-list-item16" style="">Explicit</ion-item>
      <ion-item class="positive" id="dojoPage-list-item17" style="">Implicit</ion-item>
      <ion-item class="positive" id="dojoPage-list-item18" style="">Autobiographical</ion-item>
      <ion-item class="positive" id="dojoPage-list-item19" style="">Episodic</ion-item>
      <ion-item class="positive" id="dojoPage-list-item20" style="">Semantic</ion-item>
    </ion-list>
  </ion-content>
</ion-view>