<ion-view title="Leaderboard Page" id="page2" style="background-color: rgb(69, 0, 246);">
  <ion-content padding="true" class="has-header">
    <ion-list id="leaderboardPage-list1">
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item1" style="">
        <h2positive>liaostep</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item2" style="">
        <h2positive>Chicken</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item3" style="">
        <h2positive>Yellow Teeth</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item4" style="">
        <h2positive>China Town</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item5" style="">
        <h2positive>Bear Grass</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item6" style="">
        <h2positive>Mountain Struggle</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="leaderboardPage-list-item7" style="">
        <h2positive>Swag OMney</h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>